* {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand',sans-serif;
}

form {
  position: relative;
}

button:hover {
  cursor: pointer;
}

.heading {
  font-family: 'Roboto', sans-serif;
}

.center {
  margin: 0 auto;
}

.leaflet-container {
  width: 50vw;
  height: 50vh;
}

#or .navbar {
  background-color: #ED7D3A;
}

#suggestions {
  position: absolute;
  left: 66px;
  max-width: 170px;
  z-index: 1001;
  background-color: white;
  display: block;
}

#suggestions p {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid gray;
}

#suggestions p:hover {
  background-color: aqua;
}
